.banner{
  background:url(../images/pexels-pok-rie-122964.jpg) no-repeat;
  background-size: cover
}
.slider{
  margin: 4rem .9rem 2rem;
  padding:5rem 3.3em;
  color: white;
  background-color: rgba(1,1,1,.4);
}
.slider h2{
  padding-bottom: 1rem;
  font-size: 1.8rem;
}
.slider p{

}
.slider button{
  margin:1.5rem 0;
}
.custom-ind{
    bottom: 25px;
}

.custom-ind li {
  width: 13px;
  height: 13px;
  border-radius: 50%;

}
